@keyframes toast {
  from {
    transform: translateX(calc(100% + 64px));
  }
}

.wrapper {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  flex-direction: column;
  padding: 16px;
  list-style-type: none;
  gap: 16px;
}

.toastWrapper {
  animation: toast 800ms cubic-bezier(0, .46, 0, 1.04) both;
  will-change: transform;
}
