.toast {
  display: flex;
  position: relative;
  align-items: center;
  width: 350px;
  max-width: 100%;
  border-radius: 16px;
  background: white;
  box-shadow: var(--shadow-elevation-medium);
  color: black;
  gap: 16px;
  color-scheme: light;
}

.content {
  flex: 1;
  padding: 12px 0;
  font-weight: 600;
}

.iconContainer {
  flex-shrink: 0;
  padding: 16px;
  padding-right: 0;
}

.iconContainer svg {
  display: block;
}

.closeButton {
  flex-shrink: 0;
  padding: 16px;
  border: none;
  background: transparent;
  cursor: pointer;
}

.notice {
  background: var(--color-notice-bg);
}

.notice .iconContainer {
  color: var(--color-notice);
}

.warning {
  background: var(--color-warning-bg);
}

.warning .iconContainer {
  color: var(--color-warning);
}

.success {
  background: var(--color-success-bg);
}

.success .iconContainer {
  color: var(--color-success);
}

.error {
  background: var(--color-error-bg);
}

.error .iconContainer {
  color: var(--color-error);
}
